/*¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
----- STYLES PROVENCE FORMATION -----
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤*/
// Styles globaux
/*------- EFFETS VISUELS GENERIQUES--------------*/


/**-- style du fil d'ariane - D8: ajouter la classe dans le bloc dédié --**/

.ariane, .breadcrumb {
    display: none;
    @include breakpoint ($desktop){
        display: block;
        padding: 0 0 0 0.3em;
        color: $vert;
        text-decoration: none;
        @include font-size(s);//taille avec typey
//        background: chocolate;//supprimer en PROD
li{
    list-style: none;
    float: left;
    margin: 0 em(5px);
    ::after{
      content: ">>";
      margin: 0 0 0 em(5px);
    }
}
        a {
            color: $vert;
            text-decoration: none;
              font-size: small;
            &:hover {
                color: $gris-anthracite;
                text-decoration: underline;
            }
        }
        span.menu-item-container{
            color: $gris-anthracite;
            text-decoration: none;
              font-size: small;
              display: initial;
              text-transform: capitalize;
              font-weight: normal;
        }
    }

}
/*---- STYLE TABLE GENERIK ----
Avec des classes odd et even via JS
js_jquery_new.js
*/
table{
    tbody{
        tr{
            border:0;
            .odd,&:odd{
                background: $gris-clair;

            }
            .even,&:even{
                background: $gris-clair-moyen;
            }
        }
    }

}
