/*
Override du style de galerie vignettes BaguetteBox
*/
//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//définir ici les types de contenus qui appliqueront ce style & layout - code via boucle sass
// Vignettes carrées à la suite
$typedecontenu: type-page-europe,type-page-sorties-actions,type-page-partenaires,type-contenu-actualites;
$zones: zone-illustration;
@each $type in $typedecontenu {
  .#{$type} {
    aside.galerie .galerieBaguetteBox {
      @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
        column-count: 3;
        column-fill: balance;
      }

      span.item-galerie {
        //Classe ajoutée dans la vue via le champ de réécriture > PARAMÈTRES D'AFFICHAGE
        // > Personnaliser le code HTML de l'enveloppe du champ et de l'étiquette  > Créer une classe CSS
        /*Technique des colonnes plus efficace et passe sous Edge*/
        /*width: span(1 of 3);*/
        /*margin: span(0.0001);*/
        /*float: left;*/
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          @include txt-colonnes;
        }
      }

      img {
        @include cadre-ombre(0.3em,white,$gris-anthracite);
      }
    }
  }
}
//définir ici les types de contenus qui appliqueront ce style & layout
//Galerie Asymétrique

.fiche-bts {
  aside.galerie .galerieBaguetteBox .view-content {
    > div {
      /*               width: span(1 of 3);
                margin: span(0.0001);
                float: left;*/
      @include breakpoint(($desktop,$tablet)) {
        /*width: span(1 of 6);*/
      }
    }

    img {
      transform: scale(1);
      @include cadre-ombre(0.3em,white,$gris-anthracite);
    }

    a.asymetrique-gd {
      img {
        transform: scale(1);
      }
    }
  }
}
