<!-- ______________________ FOOTER _______________________ -->

{% if page.footer|render %}
    <footer id="footer">
      <div class="container">
        {{ page.footer }}
      </div>
      
         <div id="bloc_stats">
        {% include directory ~ '/templates/includes/google_font.html.twig' %}   
        {% include directory ~ '/templates/includes/code_stats.html.twig' %}   
      
     </div>
      
      
    </footer><!-- /#footer -->
  {% endif %}
      </section> 
    <!-- ______________________ /CONTENEUR _______________________ -->
    {#
    Debuggage via activation dans /drupal-8/sites/DOSSIER_SITE/service.yml
        {% include directory ~ '/templates/includes/inc_drupal_debug.html.twig' %}   
        #}