{#
/* 02/2019 Liste les fichiers uploadés par
          * filefield and linkfield  avec création d'une liste dynamique, exclusion des champs vides
#}

{% if node.field_fichier_joint_lycee.value or node.field_lien_page_lycee.value is not empty %}
  <div class="bloc_docs_utiles_plycee">
    {{ node.field_fichier_joint_lycee.title }}
    <ul>
      {# //Parcourir le tableau field_NAME de l'objet $node pour lister le contenu clé/valeur #}
      {% for key, fichier in node.field_fichier_joint_lycee.value %}
        {# //Ne pas afficher les champs vides du tableau #}
        {% if node.field_fichier_joint_lycee.value is not empty %}
          <li>{{ content.field_fichier_joint_lycee[key] }}</li>
        {% endif %}
      {% endfor %}

      {# //Parcourir le tableau field_NAME de l'objet $node pour lister le contenu clé/valeur #}
      {% for key, lien in node.field_lien_page_lycee %}
        {# //Ne pas afficher les champs vides du tableau #}
        <li>{{ content.field_lien_page_lycee[key] }}</li>
        {% if node.field_lien_page_lycee is not empty %}{% endif %}
      {% endfor %}

    </ul>
  {% endif %}