// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|     CONTENU CUSTOM NODE.TPL |
|       PAGE ARCHIVES  LISTE -      |
|           Type  page_vdl_liste      |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
// @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-page-europe{order:2;}
    #zone-2.type-page-europe{order:1;}
    #zone-3.type-page-europe{order:3;}
    @include breakpoint ($desktop){
        #zone-1.type-page-europe{order:1;}
        #zone-2.type-page-europe{order:2;}
        #zone-3.type-page-europe{order:3;}
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #zone-2.type-page-europe{}
    }

}
/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.type-page-europe{
    #illustration-pleinepage{
        min-height: 35vw;
        max-height: 90vw;
        overflow: hidden;
        position:relative;
        img{
            transform: translate(0%,0%);
            @include adaptable-img();
        }
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            min-height: 25vw;
            max-height: 30vw;
            img{
                transform: translate(0%,-50%);
            }
        }
    }

}
#zone-1.type-page-europe
{
    >.content{
        column-count: 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            column-count: 1;
            column-fill: balance;
            white-space: normal;
            padding: span(0.1);
        }
    }
    
}
#zone-2.type-page-europe
{}
#zone-3.type-page-europe
{}
/*######-------- ||| STYLE ||| --------######*/
//Pour H1 voir _page-lycee.scss
h1.titre-page-globale{
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        top: em(10px);
        left: em(10px);
    }
}  
/*¤¤¤ STYLES COMMUNS ¤¤¤*/
$typedecontenu: type-page-europe, CLASS_NAME_CONTENU, CLASS_NAME_CONTENU;
$zones: zone-1, zone-2, zone-3;
@each $zone in $zones {
    @each $type in $typedecontenu{
        ##{$zone}.#{$type} 
        {
            p,ul,li{
            @include font-size(m);//utilisation de typey
            padding: em(5px);
            line-height: 1.5em;
            list-style-position: inside;
        }
        u{
            font-weight: bold;
            color: $vert;

        }
        h2{
            @include font-size(l);//utilisation de typey
            color: $violet;
        }
        h3{
            @include font-size(m);//utilisation de typey
            color: $vert;
        }
        a{
            text-decoration: none;
            color: $violet;
            &:hover{
                text-decoration: underline;
            }
        }
        strong{
            color: $vert;
        }
        }
    }
}
/*#zone-1.type-page-europe,
#zone-2.type-page-europe,
#zone-3.type-page-europe,
#zone-4.type-page-europe
{
 p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
        list-style-position: inside;
    }
    u{
        font-weight: bold;
        color: $vert;
        
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $violet;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $vert;
    }
    a{
        text-decoration: none;
        color: $violet;
        &:hover{
            text-decoration: underline;
        }
    }
    strong{
        color: $vert;
    }
}*/
/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/
#zone-1.type-page-europe{
   
}

#zone-2.type-page-europe{

}

#zone-3.type-page-europe{

}