// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss
/*-------------------------------------|
|     CONTENU CUSTOM NODE.TPL |
|       PAGE ARCHIVES  LISTE -      |
|           Type  page_vdl_liste      |
|--------------------------------------*/
//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
// @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}
/*######-------- ||| ORDRE FLEXBOX ||| --------######*/

body .conteneur .conteneur-flex {
  #zone-1.type-contenu-vdl {
    order: 2;
  }

  #zone-2.type-contenu-vdl {
    order: 1;
  }

  #zone-3.type-contenu-vdl {
    order: 3;
  }
  @include breakpoint ($desktop) {
    #zone-1.type-contenu-vdl {
      order: 1;
    }

    #zone-2.type-contenu-vdl {
      order: 2;
    }

    #zone-3.type-contenu-vdl {
      order: 3;
    }
  }
}
/*######-------- ||| BORDURES ||| --------######*/

body .conteneur {
  @include breakpoint ($desktop) {
    #zone-2.type-contenu-vdl {}
  }
}
/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
$typedecontenu: type-contenu-vdl ;
$zonesimg: zone-illustration;
@each $zone in $zonesimg {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      #illustration-pleinepage {
        min-height: 35vw;
        max-height: 90vw;
        overflow: hidden;
        position: relative;

        img {
          transform: translate(0%,0%);
          @include adaptable-img();
        }
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-9%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-10%);
          }
        }
        @include breakpoint(($tablet)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-25%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-24%);
          }
        }
        @include breakpoint(($tabletlandscape)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-20%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-18%);
          }
        }
        @include breakpoint(($mobilelandscape)) {
          min-height: 25vw;
          max-height: 35vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-30%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-20%);
          }
        }
      }//Fin illustration-pleinepage
    }
  }
}
$typedecontenu: type-contenu-vdl, type-page-sorties-actions, type-page-partenaires ;
$zones: zone-1, zone-2, zone-3 ;
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      > .content {
        column-count: 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          column-count: 1;
          column-fill: balance;
          white-space: normal;
          padding: span(0.1);
        }
      }

      .bloc_docs_utiles_vdl {
        @include breakpoint(($desktop,$desktopwide)) {
          float: right;
          margin: span(0.1);
          padding: span(0.02);
          min-width: span(2);
          max-width: span(4);
        }
        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
          float: right;
          margin: span(0.1);
          padding: span(0.02);
          min-width: span(3);
          max-width: span(5);
        }
        .champ-field-relatif-formation,
        .label-field-fichier-joint-vdl,
        .label-field-fichier-joint,
        .label-field-passerelle-form {
          //Besoin de simuler un br pour avoir un saut de ligne entre chaque éléments.HTML en liste plus efficace
          @include clearfixsusy3;
        }
      }
    }
  }
}
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      .galerie {
        img {
          @include adaptable-img();
        }
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          max-width: span(10);
          margin: span(0.1) auto;
          padding: span(0.02);
        }
      }
      //Réglage des vignette se fait dans _baguettebox-vignette-zoom.scss
      .videos{
        ul{
          list-style: none;
        }
        iframe{
          @include breakpoint(($desktop,$desktopwide)) {
          max-height: 90vh;
          max-width: 60vw;
          margin: 0 auto;
          padding: span(0.02);
          border: em(3px) solid $violet;
        }
        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
          max-height: 90vh;
          max-width: 90vw;
          margin: 0 auto;
          padding: span(0.02);
          border: em(3px) solid $violet;
        }
        }
      }
    }
  }
}
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      #region-zone-3 {
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          max-width: span(8);
          margin: span(0.1) auto;
          padding: span(0.02);
        }

        h2 {
          max-width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}
/*######-------- ||| STYLE ||| --------######*/
//Pour H1 voir _page-lycee.scss
h1.titre-contenu-vdl {
  @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
    top: em(10px);
    left: em(10px);
  }
}
/*¤¤¤ STYLES COMMUNS ¤¤¤*/
//Permet de créer facilement les styles communs à des IDs ou/et classes
$typedecontenu: type-contenu-vdl ;
$zones: zone-1, zone-2, zone-3 ;
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      li,
      p,
      ul {
        @include font-size(m); //utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
        list-style-position: inside;
      }

      u {
        font-weight: bold;
        color: $violet;
      }

      h2 {
        @include font-size(l); //utilisation de typey
        color: $violet;
      }

      h3 {
        @include font-size(m); //utilisation de typey
        color: $violet;
      }

      a {
        text-decoration: none;
        color: $violet;

        &:hover {
          text-decoration: none;
        }
      }

      strong {
        color: $violet;
      }
    }
  }
}
/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/
$typedecontenu: type-contenu-vdl, type-page-sorties-actions, type-page-partenaires;
$zones: zone-1, zone-2, zone-3;
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      .bloc_docs_utiles_vdl {
        @include backgroundImage(("BG/stripe_rose_violet_pastel.png"),transparent,repeat, top left);
        @include arrondis(1em);
        ul {
          li {
            //suppression des puces
            list-style-type: none;
            padding: span(0.1) 0;
            @include font-size(s); //utilisation de typey
          }

        a {
          background: $gris-clair;
          color: $violet;
          text-decoration: none;
          padding: span(0.01) span(0.03);
          @include rollover-effect($rose-fushia); //Effet rollover CSS3 sur les liens
          @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          //Pour ne pas tronquer le picto fichier - décommenter si nécessaire
          //min-height: em(65px);
          border: inherit;//Pour éviter BP vide
        }

          &:hover{ //:not([href*="fiche"])
            color: $gris-clair;
            background: $violet;
          }
        }

        a {
          &[href*=".pdf"] {
            &::before {
              //@include backgroundImage("PNG/Fichiers@3x.png");
              @include maskImage(("PNG/Fichier-blanc@3x.png"),100%,alpha,$gris-clair-moyen);
              background-size: contain;
              content: "";
              position: relative;
              vertical-align: middle;
              padding: em(13px);
              margin: em(3px) em(10px) em(3px) 0;
              transition: 0.5s all;
              display: inline-block;
              transform: scale(1);
              min-height: em(30px);
              @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
              // Pour ne pas tronquer le picto
              min-height: em(33px);
            }
            }
          }

          img.filefield-icon {
            display: none; //initial
          }

          &[href*="http"],&[href*="https"],
          &[href*="actualites/"]:not([href$=".pdf"]):not([href*="fiche"]),
          &[href*="vie-du-lycee/"]:not([href$=".pdf"]):not([href*="fiche"]) {
            //pour cibler les liens externes et internes, exclure les pdf et le lien interne
            &::before {
              //@include backgroundImage(("PNG/liens@3x.png"),transparent,no-repeat, top left);
              @include maskImage(("PNG/liens-blanc@3x.png"),100%,alpha,$violet);
              background-size: contain;
              content: "";
              position: relative;
              vertical-align: sub;
              padding: em(10px);
              margin: em(3px) em(10px) em(3px) 0;
              transition: 0.5s all;
              display: inline-block;
              transform: scale(1);
            }
          }
        }

        ul {
          li {
            //suppression des puces
            list-style-type: none;
            @include font-size(s); //utilisation de typey
          }
        }
        //Style spécifique
        .champ-field-relatif-formation {
          max-width: 90%;

          a {
            @include font-size(m); //utilisation de typey
            font-style: italic;
          }
        }

        .label-field-passerelle-form {
          font-weight: bold;
          color: $gris-clair;
          background: $rose-fushia;
          padding: span(0.02);
          margin: 0 0 span(0.2) span(0.2);
        }

        .label-field-fichier-joint-vdl {
          font-weight: bold;
          color: $gris-clair;
          background: $violet;
          padding: span(0.02);
          margin: 0 0 0 span(0.2);
        }
      }
    }
  }
}
$typedecontenu: type-contenu-vdl, type-page-sorties-actions, type-page-partenaires;
$zones: zone-1, zone-2, zone-3;
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      .galerie {
        img {
          @include transition-hover(75ms);

          &:hover {
            @include zoom-css3-hover(0.95);
          }
        }
      }
    }
  }
}
$typedecontenu: type-contenu-vdl,type-page-sorties-actions, type-page-partenaires;
$zones: zone-1, zone-2, zone-3;
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      #region-zone-3 {
        @include backgroundImage(("BG/stripe_rose_violet_pastel.png"),transparent,repeat, top left);
        @include arrondis(1em);

        a {
          background: $gris-clair;
          color: $rose-fushia;
          @include rollover-effect($violet); //Effet rollover CSS3
          &:hover{
            color: $gris-clair;
          }
        }

        h2 {
          @include backgroundRGBA($gris-clair,0.7);
          //background: repeating-linear-gradient(to bottom ,$gris-clair 10px, transparent 17px);
          text-align: center;
        }

        ul {
          li {
            list-style: none;
          }
        }
      }
    }
  }
}
}