// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|         FICHE FORMATION               |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-page-fiche-formation{order:1;}
    #zone-2.type-page-fiche-formation{order:2;}
    #zone-3.type-page-fiche-formation{order:3;}
    #zone-4.type-page-fiche-formation{}
    #zone-5.type-page-fiche-formation{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }
}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-diaporama.type-page-fiche-formation{
    // utiliser bxslider-cyrano.scss" pour régler le bx-viewport ou bx-caption
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;

    img{
        transform: translate(0%,0%);
        @include adaptable-img();
    }
    @include breakpoint(($mobile-iphonehd,$mobile-galaxyS6)){
        background:  $rose-fushia;
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 20vw;
        max-height: 30vw;//Pour pouvoir augmenter ensuite la hauteur des images via bx-wrapper dans _bxslider-cyrano.scss
        img{
            //Avec Diapo il faut séparer le contenu du conteneur à cause de la position absolute. Position générique.
            transform: translate(0%,-5%);
        }
           .view-Diapo-multichoix{
            transform: translate(0%,-12%);
        }
        
    }

}


#zone-1.type-page-fiche-formation{
    .complement-titre-fiche{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(4);
            margin: span(0.02) auto;   
        }
    }
    span.terme-pole{
        text-align: center;
        display: block;
        width: span(2);
        margin: 0 auto span(0.1) auto;
        
    }
    .content{
        column-count: inherit;
        @include breakpoint(($desktop,$desktopwide,$tabletlandscape)){
            column-count: 2;
            column-fill: balance;
            column-rule: em(2px) dashed $vert;
            h3{
                @include txt-colonnes;
            }
        }
    }
}
#zone-2.type-page-fiche-formation{
    .bloc_docs_utiles_ficheform{
        margin: span(0.01) auto;
        padding: span(0.01);
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(7);

        }
    }

}
#zone-3.type-page-fiche-formation{
    .bloc_complement_actu_ficheform{
         margin: span(0.01) auto;
        padding: span(0.01);
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(7);
        }
    
    }
    
    article.paragraphe-section-europe{
        column-count: inherit;
        margin: span(0.2) 0;
        @include breakpoint(($desktop,$desktopwide,$tabletlandscape)){
            column-count: 2;
            column-fill: balance;
            white-space: nowrap;   
            h3{
                @include txt-colonnes;
            }
        }
    }
    aside.ficheform-savoirplus,aside.lycees-possibles{
        margin: span(0.01) auto;
        padding: span(0.01);
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(5);
            
        }
    }
    aside.lycees-possibles{
        ul{
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                 column-count: 2;
            column-fill: balance;
            }
        }    
        
    }
}

/*######-------- ||| STYLE ||| --------######*/
//Pour H1 voir _page-lycee.scss
h1.titre-page-fiche-formation{
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
    top: em(50px);
    }
}  
/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-1.type-page-fiche-formation,
#zone-2.type-page-fiche-formation,
#zone-3.type-page-fiche-formation,
#zone-4.type-page-fiche-formation,
#zone-5.type-page-fiche-formation
{
    p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
        list-style-position: inside;
    }
  u{
        font-weight: bold;
        color: $vert;
        
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $violet;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $vert;
    }
    h4{
        @include font-size(m);//utilisation de typey
        color: $violet;
    }
    a{
        text-decoration: none;
        color: $violet;
        @include rollover-effect($vert);//Effet rollover CSS3
        &:hover{
            text-decoration: none;
        }
    }
    strong{
        color: $vert;
    }
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/
#zone-1.type-page-fiche-formation{
    .complement-titre-fiche{


        max-width: fit-content;
        *{
            background: $gris-anthracite;
            color: $jaune;
            font-weight: bold;
            padding: span(0.02);    
            margin: span(0.01) 0;
            @include font-size(m);//utilisation de typey
        }
    }
    span.terme-pole{
     background: $violet;
    color: $gris-clair-typo;
    @include ombrage-effet-incurve($HauteurHalo:0.5em);
    a{
    color: $blanc-casse;    
    }
    }
    .content{
         h3{
        transform: rotate(-1deg);
        max-width: fit-content;

        color: $blanc-casse;
        background: $vert;
        padding: em(3px);
        margin: em(5px) em(20px);

    }
    }
    aside.ficheform-savoirplus{}
}
#zone-2.type-page-fiche-formation{
        aside.ficheform-savoirplus,.bloc_docs_utiles_ficheform{
        @include backgroundImage(("BG/stripe_rose_violet_pastel.png"),transparent,repeat, top left);
        background-color: $gris-clair;
        @include arrondis(1em);
           
        a{
            background: $gris-clair;
            color: $violet;

            text-decoration:none;
            padding: span(0.01) span(0.03);
            &:hover{
                                color: $gris-anthracite;
                                    background: $vert;
            }
            &[href*=".pdf"]{
                &::before{
                    @include backgroundImage("PNG/Fichiers@3x.png");
                    background-size: contain;
                    content: "";
                    position: relative;
                    vertical-align: sub;
                    padding: em(10px);
                    margin:em(3px);
                    transition:0.5s all;
                    display: inline-block;
                    transform: scale(1);
                }
            }
            img.filefield-icon{

                display: none;//initial
            }
            &[href*="/"]:not([href*=".pdf"]) { //pour cibler les liens externes et internes, exclure les pdf
                                               &::before{
                                                   @include backgroundImage("PNG/liens@3x.png");
                                                   background-size: contain;
                                                   content: "";
                                                    position: relative;
                                                   vertical-align: sub;
                                                   padding: em(10px);
                                                   margin:em(3px);
                                                   transition:0.5s all;
                                                   display: inline-block;
                                                   transform: scale(1);
                                               }

            }
        }
          
        .views-field-title >span{
            color: $orange-fonce;
            background: $gris-anthracite;
            text-align: center;
            font-weight: bold;
            transform: rotate(-1deg);
            max-width: fit-content;
            display: block;
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                margin: 0 0 0 span(5.5);
                padding: span(0.001);
            }
        }
        ul{
            

            li{
                list-style: none;
                list-style-position: inside;
                @include font-size(s);//utilisation de typey
            }
        }
    }
}
#zone-3.type-page-fiche-formation{
    h3{
        transform: rotate(-1deg);
        max-width: fit-content;

        color: $jaune;
        background: $gris-anthracite;
        padding: em(3px);
        margin: em(5px) em(20px);

    }
    ul{
        padding: 0;
        margin:0;
        li{
            list-style: square;
        }
    }
    .bloc_complement_actu_ficheform{
        @include backgroundImage(("BG/stripe_vert_vert_pastel.png"),transparent,repeat, top left);
        //@include backgroundImage(("BG/stripe_violet.png"),transparent,repeat, top left);
        @include arrondis(1em);
        a{
            background: $gris-clair;
            color: $violet;
            text-decoration:none;
            padding: span(0.01) span(0.03);
            &:hover{
                color: $gris-anthracite;
                /*background: $vert;*/
            }
        }
        ul{
                        
            li{
                //suppression des puces
                list-style-type: none;
                @include font-size(s);//utilisation de typey
            }
        }
    }



}
#zone-4.type-page-fiche-formation{}
#zone-5.type-page-fiche-formation{}