// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM              |
|               NODE.TPL                    |
|               LISTE                            |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

//Ressources sur Attributs et PseudoElements
// https://tympanus.net/codrops/2013/07/05/using-custom-data-attributes-and-pseudo-elements/

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-page-liste{order:1;}
    #zone-2.type-page-liste{order:2;}
    #zone-3.type-page-liste{order:3;}
    #zone-4.type-page-liste{}
    #zone-5.type-page-liste{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
//Permet de créer facilement les styles communs à des IDs ou/et classes
$typedecontenu: type-page-liste ; //2e boucle
$zones: zone-illustration ;//1ere boucle
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
  #illustration-pleinepage {
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;
    position: relative;
    //image par défaut en BG comme secours
    //@include backgroundImage(("defaut/visuel-defaut-Actu-2019.jpg"),transparent,no-repeat, top left);
    background-size: cover;

    img {
      transform: translate(0%,0%);
      @include adaptable-img();
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      min-height: 25vw;
      max-height: 30vw;

      img {
        transform: translate(0%,-10%);
      }
    }
  }
} // Fin ##{$zone}.#{$type}
} // @each $zone in $zones
} // @each $type in $typedecontenu
#zone-1.type-page-liste{
    >.content{
        column-count: 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            column-count: 2;
            column-fill: balance;
            white-space: normal;
            padding: span(0.1);
        }
    }
    aside.liste-incluse{
      ul.acces-contenu-lycee {
        padding: 0;
        @include breakpoint(($desktop,$desktopwide)){
            column-count: 2;//adapter selon taille des blocs / images
            column-fill: balance;//bug FF en colonne résolu
            white-space: normal;
            padding: span(0.1);
        }
        @include breakpoint(($tablet-hd,$tablet,$mobilelandscape,$tabletlandscape)){
          //Layout différent pour tablette, 2 colonnes
          column-count: 2;//adapter selon taille des blocs / images
          column-fill: balance;//bug FF en colonne résolu
          column-gap: em(10px);//taille de la gouttière (gutter)
          white-space: normal;
          padding: span(0.1);
        }

        li {
          padding: 0;
          margin: span(0.1) 0;
          overflow: hidden;
          @include breakpoint(($desktop,$desktopwide)){
          @include hack-Edge;
          @include hack-IE;
          @include txt-colonnes();

        }
        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
          @include hack-Edge;
          @include hack-IE;
          @include txt-colonnes();
          //Pour avoir 2 colonnes sans que items dépassent - TabS3 Portrait
          margin: 0 span(0.1) 0;
          max-width: 45vw;
          display: inline-block;
        }
        span.illus-lycee {
                overflow: hidden;
                padding: 0;
                img {
                  transform: scale(1);
                  @include adaptable-img();
                }
                @include breakpoint(($desktop,$desktopwide)){
                  max-width: 70%;
                  float: left;
                  content: "";

                  img {
                    transform: scale(1.1);
                  }
                }
                @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
                  img {
                    transform: scale(1.05);
                  }
                }
              }

              span.complement,
              span.titre-lycee {
                padding: span(0.1);
                display: block;


                @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
                  //max-width: 40vw;
                }
                @include breakpoint($desktop) {
                  max-width: 7vw;
                  float: left;
                }
                @include breakpoint(($desktopwide,$tabletlandscape-hd,$tablet-hd)) {
                  max-width: 11vw;
                  padding: 0 0 0 span(0.01);
                  float: left;
                }
              }

          a {
            display: inherit;
          }
        }
      } // Fin acces-contenu-lycee
    }  // Fin aside.liste-incluse{}
}

/*######-------- ||| STYLE ||| --------######*/
//Pour H1 voir _page-lycee.scss
h1.type-page-liste{
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        top: em(10px);
        left: em(10px);
    }
}
/*¤¤¤ STYLES COMMUNS ¤¤¤*/
//Permet de créer facilement les styles communs à des IDs ou/et classes
// !! Le tableau type de contenu est repris du layout spécifique, idem pour les zones(L88-92)
// Tableau initial des classes et IDs à créer.
$typedecontenu: type-page-liste ;
$zones: zone-1 ; //, zone-2, zone-3
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      li,
      p,
      ul {
        @include font-size(m); //utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
        list-style-position: inside;
      }

      u {
        font-weight: bold;
        color: $violet;
      }

      h2 {
        @include font-size(l); //utilisation de typey
        color: $orange;
      }

      h3 {
        @include font-size(m); //utilisation de typey
        color: $violet;
      }
      h4{
        @include font-size(s); //utilisation de typey
        color: $rose-fushia;
      }
      h5{
        @include font-size(xs); //utilisation de typey
        color: $orange;
      }
      a {
        text-decoration: none;
        color: $orange;

        &:hover {
          text-decoration: underline;
        }
      }
      em {//texte italique
        color: $orange;
      }
      strong {
        color: $violet;
      }
    }
  }
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.type-page-liste{
  aside.liste-incluse{
    ul.acces-contenu-lycee {
      //Style général des éléments
          li {
            list-style: none;
            background: $orange; //Couleur à adapter au site, fond des éléments
            @include txt-cesure();

            a {
              color: $gris-clair-moyen;
              text-decoration: none;
              font-weight: bold;
              @include font-size(l); //utilisation de typey
            }
      span.titre-lycee {
        color: $gris-clair-moyen;
        @include txt-cesure();

      }

      span.illus-lycee {
        position: relative;

            a {
              &:before {
                @include image-overlay('motif_img_overlay.png', 0 0, repeat);
              }
            }
          }
        }
    } // Fin acces-contenu-lycee
  }  // Fin aside.liste-incluse{}
}
