// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|             PAGE ESPACE                   |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-page-espace{order:1;}
    #zone-2.type-page-espace{order:2;}
    #zone-3.type-page-espace{order:3;}
    #zone-4.type-page-espace{}
    #zone-5.type-page-espace{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.type-page-espace{
  #illustration-pleinepage {
    //Pour marge au dessus illustration voir _layout-nodes
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;
    position: relative;

    img {
      transform: translate(0%,0%);
      @include adaptable-img();
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      min-height: 25vw;
      max-height: 30vw;

      img {
        transform: translate(0%,-6%);
      }
      // Position différente de l'image selon le nid.Classe ajoutée via TPL
      &.illustration-nid-XX{
        @include breakpoint(($desktop,$desktopwide)) {
          img {
            transform: translate(0%,-37%);
          }
        }
        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
            min-height: 25vw;
            max-height: 40vw;
            img{
                transform: translate(0%,-35%);
            }
        }
      }
      &.illustration-nid-XX{ //Page rubrique lycée
        @include breakpoint(($desktop,$desktopwide)) {
          img {
            transform: translate(0%,-31%);
          }
        }
        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
            min-height: 25vw;
            max-height: 40vw;
            img{
                transform: translate(0%,-20%);
            }
        }
      }
    }
  }
}// Fin ILLUSTRATION
#zone-1.type-page-espace{
  aside.liste-incluse{
    ul.acces-contenu-lycee {
      padding: 0;
      @include breakpoint(($desktop,$desktopwide)){
          column-count: 2;//adapter selon taille des blocs / images
          column-fill: balance;//bug FF en colonne résolu
          white-space: normal;
          padding: span(0.1);
      }
      @include breakpoint(($tablet-hd,$tablet,$mobilelandscape,$tabletlandscape)){
        //Layout différent pour tablette, 2 colonnes
        column-count: 2;//adapter selon taille des blocs / images
        column-fill: balance;//bug FF en colonne résolu
        column-gap: em(10px);//taille de la gouttière (gutter)
        white-space: normal;
        padding: span(0.1);
      }

      li {
        padding: 0;
        margin: span(0.1) 0;
        overflow: hidden;
        @include breakpoint(($desktop,$desktopwide)){
        @include hack-Edge;
        @include hack-IE;
        @include txt-colonnes();

      }
      @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
        @include hack-Edge;
        @include hack-IE;
        @include txt-colonnes();
        //Pour avoir 2 colonnes sans que items dépassent - TabS3 Portrait
        margin: 0 span(0.1) 0;
        max-width: 45vw;
        display: inline-block;
      }
      span.illus-lycee {
              overflow: hidden;
              padding: 0;
              img {
                transform: scale(1);
                @include adaptable-img();
              }
              @include breakpoint(($desktop,$desktopwide)){
                max-width: 70%;
                float: left;
                content: "";

                img {
                  transform: scale(1.1);
                }
              }
              @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
                img {
                  transform: scale(1.05);
                }
              }
            }

            span.complement,
            span.titre-lycee {
              padding: span(0.1);
              display: block;


              @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
                //max-width: 40vw;
              }
              @include breakpoint($desktop) {
                max-width: 7vw;
                float: left;
              }
              @include breakpoint(($desktopwide,$tabletlandscape-hd,$tablet-hd)) {
                max-width: 11vw;
                padding: 0 0 0 span(0.01);
                float: left;
              }
            }

        a {
          display: inherit;
        }
      }
    } // Fin acces-contenu-lycee
  }  // Fin aside.liste-incluse{}

}// Fin zone-1

/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-illustration.type-page-espace{
    h1.titre_overlay{
        @include titre_overlay();
    }
}


#zone-1.type-page-espace,
#zone-2.type-page-espace,
#zone-3.type-page-espace,
#zone-4.type-page-espace,
#zone-5.type-page-espace
{
    p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
    }
    u{
        font-weight: bold;
        color: $bleu-turquoise;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $bleu-turquoise;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $violet;
    }
    a{
        text-decoration: none;
        color: $bleu-turquoise;
        &:hover{
            text-decoration: underline;
        }
    }
    strong{
        color: $vert;
    }
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.type-page-espace{


//Liste d'accès à la rubrique lycée
ul.acces-contenu-lycee {
  //Style général des éléments
      li {
        list-style: none;
        background: $bleu-turquoise; //Couleur à adapter au site, fond des éléments
        @include txt-cesure();

        a {
          color: $blanc-casse;
          text-decoration: none;
          font-weight: bold;
          @include font-size(l); //utilisation de typey
        }
  span.titre-lycee {
    color: $blanc-casse;
    @include txt-cesure();

  }

  span.illus-lycee {
    position: relative;

        a {
          &:before {
            @include image-overlay('motif_img_overlay.png', 0 0, repeat);
          }
        }
      }
    }

}//Fin UL acces-contenu-lycee


  }// Fin #zone-1

#zone-2.type-page-espace{}
#zone-3.type-page-espace{}
#zone-4.type-page-espace{

}//Fin zone-4
#zone-5.type-page-espace{}
