// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM              |
|               NODE.TPL                     |
|       CONTACT WEBFORM            |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

//Ressources sur Attributs et PseudoElements
// https://tympanus.net/codrops/2013/07/05/using-custom-data-attributes-and-pseudo-elements/

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-webform{order:1;}
    #zone-2.type-webform{order:2;}
    #zone-3.type-webform{order:3;}
    #zone-4.type-webform{}
    #zone-5.type-webform{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.type-webform{
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;

    @include backgroundImage('defaut_image_illustration_offre_ct.jpg');
    @include background-size(cover);

    img{
        transform: translate(0%,0%);

    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-15%);
        }
    }

}
#zone-1.type-webform{
    .content{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.2);
        }
    }
    iframe[src*="maps"],
    iframe[src*="umap"]
    {
        min-height: 110vw;
        min-width: 30vw;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            min-height: 30vw;    
        }
    }
}
#zone-2.type-webform{

    aside.formulaire{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.2);
        }
        table,tbody,tr,td,form,input[type="text"],input[type="email"]{
            width: 95%;
            margin: 0 auto;
            @include arrondis(1.5em);
            @include backgroundImage(("motif_img_overlay.png"),transparent,repeat, top left);
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                width: 75%;
                margin: span(0.1) auto; 
                padding: span(0.1);

            }
        }
        textarea{
            @include arrondis(1em);
        }
    }

}
/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
$typedecontenu: type-webform;//2e boucle -  CLASS_NAME_CONTENU2, CLASS_NAME_CONTENU3
$zones: zone-1, zone-2;//1ere boucle
@each $zone in $zones {
    @each $type in $typedecontenu{
        ##{$zone}.#{$type}
        {
            p,ul,li{
                @include font-size(m);//utilisation de typey
                padding: em(5px);
                line-height: 1.5em;
                list-style-position: inside;
            }
            u{
                font-weight: bold;
                color: $vert;

            }
            h2{
                @include font-size(l);//utilisation de typey
                color: $violet;
            }
            h3{
                @include font-size(m);//utilisation de typey
                color: $vert;
            }
            a{
                text-decoration: none;
                color: $violet;
                &:hover{
                    text-decoration: underline;
                }
            }
            strong{
                color: $vert;
            }
        }
    }
}


/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.type-webform{
    iframe,object{
        border: em(2px) solid $violet;
        padding: span(0.01);
        @include img-centered;
        max-width: 65%;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            position: relative;
            top:0;
            left: 0;
            width: 100vw;//Pas de % pour les iframes px ou vh vw
            height: 100vh;
            max-width: 95%;
            padding: span(0.02);
        }
    }
}
#zone-2.type-webform{
    aside.formulaire{

        input[type="text"],input[type="email"],textarea{
            background: $vert;
            color: $blanc-casse;
            padding: span(0.01);
        }
    }
}
#zone-3.type-webform{}
#zone-4.type-webform{}
#zone-5.type-webform{}