<!-- ______________________ FOOTER _______________________ -->
<footer id="footer">
{% if page.footer|render is not empty %}          
                        {{ page.footer }}
        
{#            
     <div id="bloc_stats">
         
        {% include directory ~ '/js/google_font.php' %}   
        {% include directory ~ '/js/code_stats.php' %}   

     </div>
#}
   {% endif %}
</footer> <!-- /footer -->
   
       
    </section> 
    <!-- ______________________ /CONTENEUR _______________________ -->
    {#
    {% include directory ~ '/includes/drupal_debug/inc_drupal_debug.html.twig' %}          
    #}
   
  </body>
</html>